:root {

    /* Fonts */
    --ch-title-font: 'Bebas Neue', sans-serif;
    --ch-subtitle-font: 'Fira Sans', sans-serif;
    --ch-heading-font: 'Bebas Neue', sans-serif;
    --ch-body-font: 'Roboto', sans-serif;

    /* Theme Colors */
    --ch-primary-color: rgb(180, 234, 240);
    --ch-secondary-color: rgb(151, 234, 243);
    --ch-highlight-color: #316a70;
    --ch-dark-color: #44585a;
    --ch-light-color: #D1E4F0;
    --ch-background-color: rgba(250, 250, 250, .8);

    --ch-font-size: 1.2rem;
    --ch-font-weight: 400;
    --ch-line-height: 1.5rem;
    --ch-title-color: var(--ch-dark-color);

    --ch-formfocus-border-color: var(--ch-highlight-color);
    --ch-formfocus-shadow: var(--ch-primary-color);
    --ch-formfocus-background-color: var(--ch-background-color);

    --ch-nav-toggler-glow: rgba(180, 234, 240, .95);
    --ch-nav-toggler-color: var(--ch-primary-color);
}

/* --- Bootstrap Overrides --- */

/* --- Button Override --- */


/* --- Element Overrides --- */


h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--ch-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--ch-title-color);
}

#mainNav {
    background-color: var(--ch-dark-color);
}

#mainNav button {
    border-color: var(--ch-light-color);
}

.navbar-toggler {
    color: var(--ch-nav-toggler-glow) !important;
}

.navbar-toggler-icon-ch {
    color: var(--ch-nav-toggler-color);
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.btn-outline-primary {
    color: var(--ch-light-color);
    border-color: var(--ch-light-color) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    border-color: var(--ch-light-color) !important;
    background-color: var(--ch-secondary-color);
}

.btn-primary {
    color: white !important;
    background-color: #316a70 !important;
}

.btn-primary:hover {
    border-color: var(--ch-primary-color);
    filter: brightness(1.1) !important;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
    filter: brightness(1.1) !important;
    border-color: var(--ch-light-color);
}

/* --- Form Control Overrides --- */

.form-control,
.form-select {
    background-color: var(--ch-background-color);
}

.form-control:focus,
.form-select:focus {
    background-color: var(--ch-background-color);
    border-color: var(--ch-light-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--ch-primary-color);

}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: var(--ch-body-font);
    font-size: var(--ch-font-size);
    font-weight: var(--ch-font-weight);
    line-height: var(--ch-line-height);
    color: var(--ch-dark-color);
    background-color: var(--ch-background-color);
    --webkit-text-size-adjust: 100%;
}

header {
    /* Image Height + 14px */
    padding-top: 74px;
}

.mainHeader {
    background-image: url("/img/screenshots/DevPortFolioBG_576.png");
    height: 200px;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: var(--ch-light-color);

}

.mainHeader-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mainTitle {
    font-family: var(--ch-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
    color: var(--ch-dark-color);

}

.mainLogo {
    height: .6em;
}


.subTitle {
    font-family: var(--ch-subtitle-font);
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: .09rem;
    color: black;
}

/* Main section takes all available space */
main {
    flex: 1 0 auto;
}

section {
    padding-right: 1rem;
    padding-left: 1rem;
}

.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-page:nth-child(even) {
    background-color: var(--ch-light-color);
}

.section-page:nth-child(odd) {
    background-color: var(--ch-secondary-color);
}

.profilePic {
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.devIcons {
    font-size: 4rem;
}

/* Sticky Footer */
footer {
    flex-shrink: 0;
}

.footer-cta {
    border-radius: 15px;
    background-color: var(--ch-secondary-color);
}

.footer-bg-cta {
    background: linear-gradient(to bottom, var(--ch-background-color), var(--ch-background-color) 50%, var(--ch-dark-color) 50%, var(--ch-dark-color) 100%);

}

.footer-main {
    background-color: var(--ch-dark-color);
    color: white;

}

.socialIcons {
    font-size: 2rem;
    color: white;
}

a.socialIcons:hover {
    color: var(--ch-secondary-color);
    opacity: 1;
}

/* --- Media Queries --- */

/* --- Media Queries --- */
@media(min-width: 49.98px) {
    .mainHeader {
        background-image: url(/img/screenshots/2_375.png);
        height: 150px;
    }

}

@media(min-width: 374.98px) {
    .mainHeader {
        background-image: url(/img/screenshots/2_576.png);
        height: 200px;
    }

}

@media(min-width: 575.98px) {
    .mainHeader {
        background-image: url(/img/screenshots/2_767.png);
        height: 200px;
    }

}

@media(min-width: 767.98px) {
    .mainHeader {
        background-image: url(/img/screenshots/2_992.png);
        height: 300px;
    }

    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }

    .subTitle {
        font-size: 1.2rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }

}

@media(min-width: 991.98px) {
    .mainHeader {
        background-image: url(/img/screenshots/2_1200.png);
        height: 400px;
    }

}

@media(min-width: 1199.98px) {
    .mainHeader {
        background-image: url(/img/screenshots/2.png);
        height: 500px;
    }

    .mainTitle {
        font-size: 6rem;
        line-height: 5rem;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
}

@media(min-width: 1399.98px) {
    .mainHeader {
        background-image: url(/img/screenshots/2.png);
        height: 500px;
    }
}